<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>feedback</directory>
  <name>在线留言</name>
  <author>一些事情</author>
  <version>V5.0</version>
  <description>只适合V5.0版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}feedback(
	      [id] [int] IDENTITY(1,1) PRIMARY KEY,
	      [site_id] [int] NOT NULL DEFAULT ((0)),
	      [title] [nvarchar](100),
	      [content] [ntext],
	      [user_name] [nvarchar](50),
	      [user_tel] [nvarchar](30),
	      [user_qq] [nvarchar](30),
	      [user_email] [nvarchar](100),
	      [add_time] [datetime] NOT NULL DEFAULT (getdate()),
	      [reply_content] [ntext] DEFAULT (''),
	      [reply_time] [datetime],
        [is_lock] [tinyint] NOT NULL DEFAULT ((0))
      )
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}feedback</sql>
  </uninstall>
  <urls>
    <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="feedback.html">
      <item path="feedback.aspx" pattern="feedback.aspx" />
      <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_feedback" title="留言管理" url="admin/index.aspx" action="Show,View,Delete,Audit,Reply" />
  </menu>
</plugin>