<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- appSettings网站信息配置-->
  <appSettings>
    <add key="Configpath" value="~/xmlconfig/sys.config" />
    <add key="Urlspath" value="~/xmlconfig/urls.config" />
    <add key="Userpath" value="~/xmlconfig/user.config" />
    <add key="Orderpath" value="~/xmlconfig/order.config" />
  </appSettings>
  <!-- 数据库连接字符串-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=.;uid=sa;pwd=123;database=DTcmsdb5;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <httpModules>
      <add type="DTcms.Web.UI.HttpModule, DTcms.Web.UI" name="HttpModule" />
    </httpModules>

    <httpHandlers>
      <add verb="*" path="templates/main/*.html" type="System.Web.HttpForbiddenHandler" />
    </httpHandlers>
    <!-- 文件上传大小KB-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="36000" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DTcms.Web.UI.HttpModule, DTcms.Web.UI" name="HttpModule" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
