<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>link</directory>
  <name>友情链接</name>
  <author>一些事情</author>
  <version>V5.0</version>
  <description>只适合V5.0版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}link(
	      [id] [int] IDENTITY(1,1) PRIMARY KEY,
	      [site_id] [int] NOT NULL DEFAULT ((0)),
	      [title] [nvarchar](255),
	      [user_name] [nvarchar](50),
	      [user_tel] [nvarchar](20),
	      [email] [nvarchar](50),
	      [site_url] [nvarchar](255),
	      [img_url] [nvarchar](255),
	      [is_image] [int] NOT NULL DEFAULT ((0)),
	      [sort_id] [int] NOT NULL DEFAULT ((99)),
	      [is_red] [tinyint] NOT NULL DEFAULT ((0)),
	      [is_lock] [tinyint] NOT NULL,
	      [add_time] [datetime] NULL DEFAULT (getdate())
      )
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}link</sql>
  </uninstall>
  <urls>
    <rewrite name="link" type="plugin" page="link.aspx" inherit="DTcms.Web.Plugin.Link.link" templet="link.html">
      <item path="link.aspx" pattern="link.aspx" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_link" title="链接管理" url="admin/index.aspx" action="Show,View,Add,Edit,Delete,Audit" />
  </menu>
</plugin>