<?xml version="1.0"?>
<sysconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>DTcms内容管理系统</webname>
  <weburl>http://demo.dtcms.net</weburl>
  <webcompany>深圳市动力启航软件有限公司</webcompany>
  <webaddress>广东省深圳市宝安区西乡街道</webaddress>
  <webtel>13800138000</webtel>
  <webfax>-</webfax>
  <webmail>info@dtcms.net</webmail>
  <webcrod>粤ICP备11064298号</webcrod>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>0</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <smsapiurl>http://smsapi.dtcms.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailssl>1</emailssl>
  <emailport>25</emailport>
  <emailfrom>info@it134.cn</emailfrom>
  <emailusername>info@it134.cn</emailusername>
  <emailpassword>50C215BB3B599960</emailpassword>
  <emailnickname>动力启航</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileanonymous>1</fileanonymous>
  <fileremote>0</fileremote>
  <fileextension>gif,jpg,jpeg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <videoextension>flv,mp3,mp4,avi</videoextension>
  <attachsize>51200</attachsize>
  <videosize>102400</videosize>
  <imgsize>10240</imgsize>
  <imgmaxheight>1600</imgmaxheight>
  <imgmaxwidth>1600</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <thumbnailmode>Cut</thumbnailmode>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>动力启航</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
</sysconfig>