<div class="footer">
    <div class="section">
        <div class="foot-nav">
            <a href="<%linkurl("index")%>">首页</a>
            <strong>|</strong>
            <a href="<%linkurl("news")%>">新闻资讯</a>
            <strong>|</strong>
            <a href="<%linkurl("goods")%>">购物商城</a>
            <strong>|</strong>
            <a href="<%linkurl("video")%>">视频专区</a>
            <strong>|</strong>
            <a href="<%linkurl("down")%>">图片分享</a>
            <strong>|</strong>
            <a href="<%linkurl("photo")%>">资源下载</a>
            <strong>|</strong>
            <a href="<%linkurl("feedback")%>">在线留言</a>
            <strong>|</strong>
            <a href="<%linkurl("link")%>">友情链接</a>
        </div>
        <div class="foot-box">
            <div class="copyright">
                <p>版权所有 {site.company} {site.crod}</p>
                <p>公司地址：{site.address} 联系电话：{site.tel}</p>
                <p class="gray">Copyright © 2009-2017 dtcms.net Corporation,All Rights Reserved.</p>
            </div>
            <div class="service">
                <p>周一至周日 9:00-24:00</p>
                <a href="http://www.dtcms.net" target="_blank"><i class="iconfont icon-phone"></i>在线客服</a>
            </div>
        </div>
    </div>
</div>