  <!-- JiaThis Button BEGIN --> 
  <div id="ckepop">
      <span class="jiathis_txt">分享到：</span>
      <a class="jiathis_button_tqq">腾讯</a>
      <a class="jiathis_button_tsina">新浪</a>
      <a class="jiathis_button_renren">人人网</a>
      <a class="jiathis_button_email">邮件</a>
      <a class="jiathis_button_copy">网址</a> 
      <a href="http://www.jiathis.com/share/?uid=90225" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a> 
      <a class="jiathis_counter_style"></a> 
  </div> 
  <!-- JiaThis Button END -->
  <script type="text/javascript">var jiathis_config={data_track_clickback:true};</script> 
  <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js?uid=1336353133859589" charset="utf-8"></script>