<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>查看订单 - {site.name}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
<link rel="stylesheet" type="text/css" href="{config.webpath}scripts/artdialog/ui-dialog.css" />
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/artdialog/dialog-plus-min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
</head>

<body>
<!--页面头部-->
<%template src="_header.html"%>
<!--/页面头部-->

<!--当前位置-->
<div class="section">
    <div class="location">
        <span>当前位置：</span>
        <a href="<%linkurl("index")%>">首页</a> &gt;
        <a href="<%linkurl("usercenter","index")%>">会员中心</a>
        <a href="<%linkurl("userorder","list")%>">订单管理</a>
    </div>
</div>
<!--/当前位置-->

<div class="section clearfix">
    <!--页面左边-->
    <%template src="_ucenter_nav.html"%>
    <!--/页面左边-->
    
    <!--页面左边-->
    <div class="right-auto">
        <div class="bg-wrap" style="min-height:765px;">
            <div class="sub-tit">
                <a class="add" href="javascript:history.go(-1);"><i class="iconfont icon-reply"></i>返回</a>
                <ul>
                    <li class="selected">
                        <a href="javascript:;">查看订单</a>
                    </li>
                </ul>
            </div>
            
        <%if(model.status<4)%>
            <!--订单进度-->
            <%if(model.payment_status>0)%>
            <div class="order-progress">
            <%else%>
            <div class="order-progress mini">
            <%/if%>
                <ul>
                    <!--下单-->
                    <li class="first active">
                        <div class="progress">下单</div>
                        <div class="info">{model.add_time}</div>
                    </li>
                    <!--/下单-->
                    
                    <%if(model.payment_status>0)%>
                        <!--付款-->
                        <%if(model.payment_status==2)%>
                        <li class="active">
                        <%else%>
                        <li>
                        <%/if%>
                            <div class="progress">付款</div>
                            <%if(model.payment_status==2)%>
                            <div class="info">{model.payment_time}</div>
                            <%/if%>
                        </li>
                        <!--/付款-->
                    <%/if%>
                    
                    <!--确认-->
                    <%if(model.status>=2)%>
                    <li class="active">
                    <%else%>
                    <li>
                    <%/if%>
                        <div class="progress">确认</div>
                        <%if(model.status>=2)%>
                        <div class="info">{model.confirm_time}</div>
                        <%/if%>
                    </li>
                    <!--/确认-->
                    
                    <!--发货-->
                    <%if(model.express_status==2)%>
                    <li class="active">
                    <%else%>
                    <li>
                    <%/if%>
                        <div class="progress">发货</div>
                        <%if(model.express_status==2)%>
                        <div class="info">{model.express_time}</div>
                        <%/if%>
                    </li>
                    <!--/发货-->
                    
                    <!--完成-->
                    <%if(model.status>2)%>
                    <li class="last active">
                    <%else%>
                    <li class="last">
                    <%/if%>
                        <div class="progress">完成</div>
                        <%if(model.status>2)%>
                        <div class="info">{model.complete_time}</div>
                        <%/if%>
                    </li>
                    <!--/完成-->
                </ul>
            </div>
            <!--/订单进度-->
        <%/if%>
            
            <!--订单概述-->
            <div class="form-box accept-box">
                <dl class="head form-group">
                    <dd>
                        订单号：{model.order_no}
                        <%if(get_order_payment_status(model.id))%>
                            <a class="btn-pay" href="<%linkurl("payment","?action=confirm&order_no="+model.order_no)%>">去付款</a>
                        <%/if%>
                    </dd>
                </dl>
                <dl class="form-group">
                    <dt>订单状态：</dt>
                    <dd>
                        <%=get_order_status(model.id)%>
                    </dd>
                </dl>
                <%if(model.payment_status>0)%>
                <dl class="form-group">
                    <dt>支付方式：</dt>
                    <dd><%=get_payment_title(model.payment_id)%></dd>
                </dl>
                <%/if%>
                
                <%if(model.express_status==2)%>
                <dl class="form-group">
                    <dt>发货单号：</dt>
                    <dd><%=get_express_title(model.express_id)%> {model.express_no}</dd>
                </dl>
                <%/if%>
            </div>
            <!--/订单概述-->
            
            <!--商品列表-->
            <div class="table-wrap">
                <table width="100%" border="0" cellspacing="0" cellpadding="5" class="ftable">
                    <tr>
                        <th align="left" colspan="2">商品信息</th>
                        <th width="10%">单价</td>
                        <th width="10%">积分</th>
                        <th width="10%">数量</th>
                        <th width="10%">金额</th>
                        <th width="10%">积分</th>
                    </tr>
                    <%if(model.order_goods!=null)%>
                    <%foreach(DTcms.Model.order_goods modelt in model.order_goods)%>
                    <tr>
                        <td width="60">
                            <a target="_blank" href="<%linkurl("goods_show",{modelt.article_id})%>">
                                <img src="<%=get_article_img_url(modelt.channel_id, modelt.article_id)%>" class="img" />
                            </a>
                        </td>
                        <td align="left">
                            <a target="_blank" href="<%linkurl("goods_show",{modelt.article_id})%>">{modelt.goods_title}</a>
                        </td>
                        <td align="center">
                            <s>￥{modelt.goods_price}</s>
                            <p>￥{modelt.real_price}</p>
                        </td>
                        <td align="center">
                            <%if(modelt.point>0)%>
                                +
                            <%/if%>
                            {modelt.point}
                        </td>
                        <td align="center">{modelt.quantity}</td>
                        <td align="center">￥<%=(modelt.real_price*modelt.quantity)%></td>
                        <td align="center"><%=(modelt.point*modelt.quantity)%></td>
                    </tr>
                    <%/foreach%>
                    <%else%>
                    <tr>
                        <td colspan="7" align="center">暂无记录</td>
                    </tr>
                    <%/if%>
                    <tr>
                        <td colspan="7" align="right">
                            <p>商品金额：<b class="red">￥{model.real_amount}</b>&nbsp;&nbsp;+&nbsp;&nbsp;运费：<b class="red">￥{model.express_fee}</b>&nbsp;&nbsp;+ &nbsp;&nbsp;支付手续费：<b class="red">￥{model.payment_fee}</b>&nbsp;&nbsp;税费：<b class="red">{model.invoice_taxes}</b></p>
                            <p style="font-size:22px;">应付总金额：<b class="red">￥{model.order_amount}</b></p>
                        </td>
                    </tr>
                </table>
            </div>
            <!--/商品列表-->
            
            <!--收货信息-->
            <div class="form-box accept-box">
                <dl class="head form-group">
                    <dd>收货信息</dd>
                </dl>
                <dl class="form-group">
                    <dt>顾客姓名：</dt>
                    <dd>{model.accept_name}</dd>
                </dl>
                <dl class="form-group">
                    <dt>送货地址：</dt>
                    <dd>{model.area} {model.address} {model.post_code}</dd>
                </dl>
                <dl class="form-group">
                    <dt>联系电话：</dt>
                    <dd>{model.mobile} {model.telphone}</dd>
                </dl>
                <dl class="form-group">
                    <dt>电子邮箱：</dt>
                    <dd>{model.email}</dd>
                </dl>
                <dl class="form-group">
                    <dt>备注留言：</dt>
                    <dd>{model.message}</dd>
                </dl>
                <dl class="form-group">
                    <dt>开具发票：</dt>
                    <dd>
                        <%if({model.is_invoice}==1)%>
                            是
                        <%else%>
                            否
                        <%/if%>
                    </dd>
                </dl>
                <%if({model.is_invoice}==1)%>
                <dl class="form-group">
                    <dt>发票抬头：</dt>
                    <dd>
                        {model.invoice_title}
                    </dd>
                </dl>
                <%/if%>
            </div>
            <!--/收货信息-->
            
        </div>
    </div>
    <!--/页面左边-->
</div>

<!--页面底部-->
<%template src="_footer.html"%>
<!--/页面底部-->
</body>
</html>